.yzm-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.yzm-item .el-form-item {
  width: 330px;
  margin-bottom: 0px;
}
.yzm-item span {
  width: 148px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background: #fff;
  color: #3f7df7;
  cursor: pointer;
  border: 1px solid #3f7df7;
  font-size: 14px;
  border-radius: 3px;
}
.yzm-item span:hover {
  background: #3f7df7;
  color: #fff;
}
.yzm-item span[disabled] {
  color: #fff;
  background: #bcbcbc;
  pointer-events: none;
  cursor: inherit;
  border-color: #bcbcbc;
}
.myDialog .el-dialog {
  max-width: 530px;
}
.myDialog .el-dialog__header {
  padding: 16px 24px;
  border-bottom: 1px solid #e8e8e8;
}
.myDialog .el-dialog__header .el-dialog__title {
  font-size: 16px;
  line-height: 22px;
  color: #111;
}
.myDialog .el-dialog__footer {
  padding: 10px 16px;
  border-top: 1px solid #e8e8e8;
}
.myDialog .el-dialog__body {
  padding: 24px;
}
.myDialog .el-dialog__body .btnInfo {
  margin-bottom: 20px;
  width: 98px;
  height: 36px;
  border: 1px solid #d0d0d0;
  border-radius: 18px;
  line-height: 36px;
  padding: 0;
  margin-left: 0;
  margin-right: 15px;
}
.myDialog .el-dialog__body .checked {
  background: #e8efff;
  border: 1px solid #3758ff;
  border-radius: 18px;
  color: #3758ff;
}
.myDialog .el-dialog__body .centerP {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  margin-bottom: 30px;
  text-align: center;
}
.myDialog .el-dialog__body .btnCode {
  padding: 9px 24px;
  margin-right: 0px;
  font-size: 12px;
}
.myDialog .el-dialog__body .el-input__inner {
  height: 36px;
  line-height: 36px;
}
@media (max-width: 750px) {
  .myDialog .el-dialog {
    width: 96%;
  }
}
.myslide {
  /* 阿里无痕验证 */
  /* 阿里无痕验证 */
  /* 外层父元素 */
  /* 上层条 */
  /* 滑块 */
  /* 下层条 */
}
.myslide .nc-container .nc_scale {
  background: #f0f0f0 !important;
}
.myslide .nc-container .nc_scale div.nc_bg {
  background: #a8d5ff !important;
}
.myslide .nc-container .nc_scale .scale_text2 {
  color: #fff !important;
}
.myslide .nc-container .nc_scale span {
  border: none !important;
}
.myslide .nc-container .errloading {
  border: #faf1d5 1px solid !important;
  color: #ef9f06 !important;
}
.myslide .nc-container {
  position: static !important;
}
.myslide .nc-container .nc_wrapper {
  width: 100% !important;
  height: 36px !important;
}
.myslide .nc-container .errloading {
  width: 100% !important;
  box-sizing: border-box;
}
.myslide .nc-container .nc_scale {
  height: 36px !important;
  line-height: 36px !important;
  border-radius: 4px;
  overflow: hidden;
}
.myslide .nc-container .nc_scale span.nc-lang-cnt {
  box-sizing: content-box;
  height: 36px !important;
  line-height: 36px !important;
  border: none !important;
  border-radius: 4px;
  font-size: 14px;
}
.myslide .nc-container .nc_scale .btn_slide {
  border: none !important;
  height: 36px !important;
  line-height: 36px !important;
  background: #4460f1 !important;
  color: #f5f5f5 !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 36px !important;
}
.myslide .nc-container .nc_scale .btn_ok {
  height: 36px !important;
  line-height: 36px !important;
  font-size: 30px !important;
  width: 36px !important;
  background: #f0f0f0;
}
.myslide .nc-container .nc_scale div.nc_bg {
  /* border-radius: 4px; */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
